body {
    font-family: sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    width: 350px;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.switch-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.switch-button:hover {
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    .form-container {
        width: 100%;
        margin: 25px;
        padding: 20px;
    }

    .input-field {
        margin-bottom: 15px;
    }

    .submit-button {
        padding: 8px;
    }

    .heading {
        font-size: 30px;
    }
}